.navigation {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: inherit;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #CCCCCC;
  height: 60px;
  
  &__nav-icon {
    width: 30px !important;
    height: 30px;
    filter: opacity(50%)
  }
}
